extends ./layout

block admin-header
	i.fa.fa-tasks
	= t('admin.sections.components')

block admin-actions
	button.btn.btn-teal#admin-components-new
		span
			i.fa.fa-plus
			| New Component
	button.btn.btn-teal#admin-components-newgroup
		span
			i.fa.fa-plus
			| New Component Group

block admin-content
	#admin-components
		if comps.length || groups
			if _.has(comps, 'uncategorized')
				.admin-prelist
					h2 Uncategorized
					span Components below must be placed inside a Component Group. They will not be displayed until they are part of a group.
					ul.admin-list
						each comp in comps.uncategorized
							li(data-id=comp._id.toString(), data-name=comp.name, data-description=comp.description)
								span.handle
									i.fa.fa-sort
									p
										strong= comp.name
										span= comp.description
								span
									i.fa.fa-edit.edit-action
									i.fa.fa-trash-o.delete-action
			ul.admin-headlist
				each grp in groups
					li(data-id=grp.id, data-name=grp.name, data-shortname=grp.shortName)
						h2
							span.handle
								i.fa.fa-sort
								= grp.name
							span
								i.fa.fa-edit.edit-action
								i.fa.fa-trash-o.delete-action
						ul.admin-list
							if _.has(comps, 'g_' + grp.id)
								each comp in _.get(comps, 'g_' + grp.id)
									li(data-id=comp._id.toString(), data-name=comp.name, data-description=comp.description)
										span.handle
											i.fa.fa-sort
											p
												strong= comp.name
												span= comp.description
										span
											i.fa.fa-edit.edit-action
											i.fa.fa-trash-o.delete-action
		else
			.admin-box
				| No components have been created yet.