extends ./layout

block admin-header
	i.fa.fa-bullhorn
	| #{t('admin.incidents.update')} - #{inc.summary}

block admin-actions
	a.btn.btn-indigo(href='/admin/incidents')
		span
			i.fa.fa-arrow-left
			= t('actions.backToList')

block admin-content
	#admin-incidents-update(data-id=inc.id)
		.admin-form
			section
				label= t('admin.incidents.state')
				+dropdown('incident-state', 'state', 'update')(placeholder=t('updateStates.update'))
					each up, upId in appdata.updates
						if up.selectable
							+dropdownitem(t('updateStates.' + upId), upId, up.icon, 'grey')
			section
				label= t('admin.incidents.content')
				textarea#incident-editor
			section.form-footer
				button.btn.btn-green#admin-incidents-save
					span
						i.fa.fa-check
						= t('admin.incidents.postUpdate')