extends ./layout

block admin-content
	#admin-incidents
		.hero
			h1.title= t('admin.sections.incidents')
		if incidents.active.length > 0
			h3.first
				i.fa.fa-circle-o
				= t('admin.incidents.active')
			ul.admin-list.admin-incidents-list
				each incident in incidents.active
					li(data-id=incident.id, data-name=incident.summary)
						span
							case incident.currentState
								when "open"
									+stateicon(incident.state)
									p
										strong= incident.summary
										span
											!= t('admin.incidents.openInfo', { created: moment(incident.schedule.actualStartDate).calendar(), updated: moment(incident.updatedAt).fromNow() })
								when "scheduled"
									i.fa.fa-clock-o.status-scheduled
									p
										strong= incident.summary
										span
											!= t('admin.incidents.scheduledInfo', { startdate: userMoment(incident.schedule.plannedStartDate).calendar(), duration: userMoment.duration(moment(incident.schedule.plannedStartDate).diff(incident.schedule.plannedEndDate)).humanize() })
							
						span
							span.button-group
								a.button.is-teal(href='/admin/incidents/update/' + incident.id, title=t('admin.incidents.postUpdate'))
									i.icon-speech-bubble
									span= t('admin.incidents.postUpdate')
								a.button.is-orange.is-icon-only(href='/admin/incidents/edit/' + incident.id, title=t('actions.edit')).edit-action
									span: i.icon-edit
								a.button.is-red.is-icon-only(title=t('actions.delete')).delete-action
									span: i.icon-trash2
		else
			.admin-box
				| No active incident at the moment.

		if incidents.recent.length > 0
			h3
				i.fa.fa-check-circle
				| Recently Resolved Incidents
			ul.admin-list.admin-incidents-list
				each incident in incidents.recent
					li(data-id=incident.id, data-name=incident.summary)
						span
							i.fa.fa-check.status-ok
							p
								strong= incident.summary
								span
									!= t('admin.incidents.closedInfo', { ended: moment(incident.schedule.actualEndDate).calendar(), duration: userMoment.duration(moment(incident.schedule.actualStartDate).diff(incident.schedule.actualEndDate)).humanize() })
						span
							span.btn-group
								a.btn.btn-teal(href='/admin/incidents/update/' + incident.id, title=t('admin.incidents.postUpdate'))
									span
										i.icon-file-add
										= t('admin.incidents.postUpdate')
								a.btn.btn-solo.btn-blue(href='/admin/incidents/edit/' + incident.id, title=t('actions.edit')).edit-action
									span: i.fa.fa-edit
								a.btn.btn-solo.btn-red(title=t('actions.delete')).delete-action
									span: i.fa.fa-trash-o