extends ./layout

block admin-header
	i.fa.fa-bullhorn
	= t('admin.incidents.active')

block admin-actions
	a.btn.btn-solo.btn-teal(href='/admin/incidents/create', title=t('admin.incidents.create'))
		span
			i.fa.fa-plus
	a.btn.btn-indigo(href='/admin/incidents/archive', title=t('admin.incidents.archived'))
		span
			i.fa.fa-archive
			span= t('admin.incidents.archived')

block admin-content
	#admin-incidents
		if incidents.length > 0
			ul.admin-list.admin-incidents-list
				each incident in incidents
					li(data-id=incident.id, data-name=incident.summary)
						span
							case incident.currentState
								when "open"
									+stateicon(incident.state)
									p
										strong= incident.summary
										span
											!= t('admin.incidents.openInfo', { created: moment(incident.schedule.actualStartDate).calendar(), updated: moment(incident.updatedAt).fromNow() })
								when "scheduled"
									i.fa.fa-clock-o.status-scheduled
									p
										strong= incident.summary
										span
											!= t('admin.incidents.scheduledInfo', { startdate: userMoment(incident.schedule.plannedStartDate).calendar(), duration: userMoment.duration(moment(incident.schedule.plannedStartDate).diff(incident.schedule.plannedEndDate)).humanize() })
								default
									i.fa.fa-check.status-ok
									p
										strong= incident.summary
										span
											strong= _.capitalize(incident.currentState)
							
						span
							span.btn-group
								a.btn.btn-teal(href='/admin/incidents/update/' + incident.id, title=t('admin.incidents.postUpdate'))
									span
										i.fa.fa-rocket
										= t('admin.incidents.postUpdate')
								a.btn.btn-solo.btn-blue(href='/admin/incidents/edit/' + incident.id, title=t('actions.edit')).edit-action
									span: i.fa.fa-edit
								a.btn.btn-solo.btn-red(title=t('actions.delete')).delete-action
									span: i.fa.fa-trash-o
		else
			.admin-box
				| No incident has been filed yet.