extends ./layout

block admin-header
	i.fa.fa-globe
	= t('admin.sections.regions')

block admin-actions
	button.btn.btn-teal#admin-regions-new
		span
			i.fa.fa-plus
			= t('admin.regions.create')

block admin-content
	#admin-regions
		if regions.length > 0
			ul.admin-list
				each region in regions
					li(data-id=region._id, data-name=region.name)
						span.handle
							i.fa.fa-sort(title=t('actions.reorder'))
							p
								strong= region.name
						span
							i.fa.fa-edit.edit-action(title=t('actions.edit'))
							i.fa.fa-trash-o.delete-action(title=t('actions.delete'))
		else
			.admin-box
				= t('admin.regions.noRegionsCreatedYet')

	script(type='text/javascript').
		var pgLangData = {
			create_title: "#{t('admin.regions.create_title')}",
			edit_title: _.template("!{t('admin.regions.edit_title')}"),
			delete_title: _.template("!{t('admin.regions.delete_title')}"),
			name: "#{t('admin.regions.name_placeholder')}"
		};