extends ./layout

block admin-content
	#admin-users-edit
		.hero
			h1.title= t('admin.sections.users')
			h2.subtitle= usr.name
			ul.hero-menu
				li
					a.is-grey(href='/admin/users')
						i.icon-reply
						span= t('actions.backToList')
		.form-sections
				section
					label.label= t('admin.users.name')
					p.control.is-fullwidth
						input#user-name(type='text', placeholder=t('admin.users.name_placeholder'), v-model='user.name')
				section
					label.label= t('admin.users.email')
					p.control.is-fullwidth
						input(type='text', placeholder=t('admin.users.email_placeholder'), v-model='user.email', disabled=(usr.provider !== 'local'))
				if usr.provider === 'local'
					section
						label.label= t('admin.users.password')
						p.control
							input(type='text', v-model='user.password', value='********')
				section
					.columns
						.column
							label.label= t('admin.users.timezone')
							.control.is-fullwidth
								select(v-model='user.timezone')
									each tz in moment.tz.names()
										option(value=tz) #{tz} (#{moment().tz(tz).format('Z z')})
						.column
							label.label= t('admin.users.displayLanguage')
							.control.is-fullwidth
								select(v-model='user.lang')
									each langName, langKey in appdata.lang
										option(value=langKey)= langName
				if user.id !== usr.id
					section
						label.label= t('admin.users.rights')
						each rText,rKey in appdata.rights
							.control
								input(id='right-' + rKey, type='checkbox', v-model='user.rights', value=rKey)
								label(for='right-' + rKey)= rText
				section.form-footer
					button.button.is-green#admin-users-save
						i.icon-check
						span= t('actions.saveChanges')

	script(type='text/javascript').
		var usrData = !{JSON.stringify({ user: usr, timezones: moment.tz.names() })};
