extends ./layout

block admin-content
	#admin-users
		.hero
			h1.title= t('admin.sections.users')
			ul.hero-menu
				li
					button.is-teal#admin-users-new
						i.icon-plus
						span= t('admin.users.create')
		ul.list
			each usr in users
				li.list-row(data-id=usr._id, data-email=usr.email, data-name=usr.name, data-provider=usr.provider)
					p.list-item
						span.list-icon
							case usr.provider
									when 'local': i.fa.fa-database
									when 'windowslive': i.fa.fa-windows.is-blue
									when 'google': i.fa.fa-google.is-blue
									when 'facebook': i.fa.fa-facebook.is-purple
									default: i.fa.fa-question-circle
						span.list-content
							strong= usr.name
							span= usr.email
					p.list-item
						span.button-group
							a.button.is-orange(href='/admin/users/' + usr._id, title=t('actions.edit')).edit-action
								i.fa.fa-edit
								span= t('actions.edit')
							if !_.eq(usr.id, user.id)
								button.button.is-red.is-icon-only(title=t('actions.delete')).delete-action
									i.fa.fa-trash-o
							else
								button.button.is-disabled.is-icon-only
									i.fa.fa-trash-o

	script(type='text/javascript').
		var pgLangData = {
			create_title: "#{t('admin.users.create_title')}",
			delete_title: _.template("!{t('admin.users.delete_title')}"),
			email: "#{t('admin.users.email')}",
			password: "#{t('admin.users.password_placeholder')}",
			name: "#{t('admin.users.name')}",
		};
