extends ./layout

block admin-content
	#admin-users-edit
		.hero
			h1.title= t('admin.sections.users')
			h2.subtitle= usr.name
			ul.hero-menu
				li
					a.is-grey(href='/admin/users')
						i.icon-reply
						span= t('actions.backToList')
		.form-sections
				section
					label.label= t('admin.users.name')
					p.control.is-fullwidth
						input#user-name(type='text', placeholder=t('admin.users.name_placeholder'), v-model='name')
				section
					label.label= t('admin.users.email')
					p.control.is-fullwidth
						input(type='text', placeholder=t('admin.users.email_placeholder'), v-model='email', disabled=(usr.provider !== 'local'))
				if usr.provider === 'local'
					section
						label.label= t('admin.users.password')
						p.control
							input(type='text', v-model='password', value='********')
				section
					.columns
						.column
							label.label= t('admin.users.timezone')
							+dropdown('timezone', 'timezone', usr.timezone)(placeholder=usr.timezone)
								each tz in moment.tz.names()
									+dropdownitem(tz, tz, 'clock-o', 'blue-grey', moment().tz(tz).format('Z z'))
						.column
							label.label= t('admin.users.displayLanguage')
							+dropdown('language', 'lang', usr.lang)(placeholder=appdata.lang[usr.lang])
								each langName, langKey in appdata.lang
									+dropdownitem(langName, langKey, 'language', 'blue-grey')
				if user.id !== usr.id
					section
						label.label= t('admin.users.rights')
						each rText,rKey in appdata.rights
							div
								input(id='right-' + rKey, type='checkbox', v-model='rights', value=rKey)
								label(for='right-' + rKey)= rText
				section.form-footer
					button.button.is-green#admin-users-save
						i.icon-check
						span= t('actions.saveChanges')

	script(type='text/javascript').
		var usrData = !{JSON.stringify(usr)};
