extends ./layout

block admin-header
	i.fa.fa-users
	= t('admin.sections.users')

block admin-actions
	button.btn.btn-teal#admin-users-new
		span
			i.fa.fa-plus
			= t('admin.users.create')

block admin-content
	#admin-users
		ul.admin-list
			each usr in users
				li(data-id=usr.id, data-email=usr.email, data-firstname=usr.firstName, data-lastname=usr.lastName)
					span
						i.fa.fa-user
						p
							strong= usr.fullName
							span= usr.email
					span
						span.btn-group
							a.btn.btn-blue(href='/admin/users/' + usr.id, title=t('actions.edit')).edit-action
								span
									i.fa.fa-edit
									= t('actions.edit')
							if !_.eq(usr.id, user.id)
								a.btn.btn-solo.btn-red(title=t('actions.delete')).delete-action
									span: i.fa.fa-trash-o

	script(type='text/javascript').
		var pgLangData = {
			create_title: "#{t('admin.users.create_title')}",
			delete_title: _.template("!{t('admin.users.delete_title')}"),
			email: "#{t('admin.users.email')}",
			password: "#{t('admin.users.password_placeholder')}",
			firstName: "#{t('admin.users.firstName')}",
			lastName: "#{t('admin.users.lastName')}"
		};
