extends ./layout

block admin-header
	i.fa.fa-users
	| #{t('admin.sections.users')} - #{usr.fullName}

block admin-actions
	a.btn.btn-indigo(href='/admin/users')
		span
			i.fa.fa-arrow-left
			= t('actions.backToList')

block admin-content
	#admin-users-edit
		.admin-form
				section.grid
					.col
						label= t('admin.users.firstName')
						input#user-firstName(type='text', placeholder=t('admin.users.firstName_placeholder'), v-model='firstName')
					.col
						label= t('admin.users.lastName')
						input(type='text', placeholder=t('admin.users.lastName_placeholder'), v-model='lastName')
				section
					label= t('admin.users.email')
					input(type='text', placeholder=t('admin.users.email_placeholder'), v-model='email')
				section
					label= t('admin.users.password')
					input(type='text', v-model='password', value='********')
				section
					.grid
						.col
							label= t('admin.users.timezone')
							+dropdown('timezone', 'timezone', usr.timezone)(placeholder=usr.timezone)
								each tz in moment.tz.names()
									+dropdownitem(tz, tz, 'clock-o', 'blue-grey', moment().tz(tz).format('Z z'))
						.col
							label= t('admin.users.displayLanguage')
							+dropdown('language', 'lang', usr.lang)(placeholder=appdata.lang[usr.lang])
								each langName, langKey in appdata.lang
									+dropdownitem(langName, langKey, 'language', 'blue-grey')
				if user.id !== usr.id
					section
						label= t('admin.users.rights')
						each rText,rKey in appdata.rights
							div
								input(id='right-' + rKey, type='checkbox', v-model='rights', value=rKey)
								label(for='right-' + rKey)= rText
				section.form-footer
					button.btn.btn-green#admin-users-save
						span
							i.fa.fa-check
							= t('actions.saveChanges')

	script(type='text/javascript').
		var usrData = !{JSON.stringify(usr)};