extends ../layout

block header
	if pdata.comps
		nav
			ul
				each compgroup in pdata.comps
					li
						span= compgroup.shortName
						+stateicon(compgroup.state)

block content
	.dashboard
		.grid-3_lg-2_sm-1
			.col
				section
					h2
						i.fa.fa-check-circle 
						= t('headers.overview')
					.box
						if pdata.comps
							ul.status-list
								each compgroup in pdata.comps
									li
										h3(class='status-' + compgroup.state)
											span= compgroup.name
											+stateicon(compgroup.state)
										ul.components-list
											each comp in compgroup.components
												li
													span
														strong= comp.name
														span= comp.description
													span(class='status-' + comp.state)
														strong= t('states.' + comp.state)
														+stateicon(comp.state)
			.col
				section
					h2
						i.fa.fa-bullhorn
						= t('headers.incidents')
					if pdata.incidents
						.box
							ul.incidents-list
								each inc in pdata.incidents
									li
										h3.status-perfissues
											span= inc.summary
											i.fa.fa-minus-square
										ul.incident-properties
											li
												strong Component:
												span Network - WAN
											li
												strong Severity:
												span Performance Issues
											li
												strong Logged on:
												span Jun 29, 15:10 UTC
											li
												strong Affected Regions:
												span
													each reg, idx in inc.regions
														if idx > 0 && idx < inc.regions.length - 1
															| , 
														else if idx > 0 && idx >= inc.regions.length - 1
															= ' ' + t('dashboard.affectedRegionsAnd') + ' '
														a(href='/region/' + reg._id)= reg.name

										ul.updates-list
											each upd in inc.updates
												li
													strong= upd.status
													span= upd.content
													em= moment.tz(upd.postedDate, 'UTC').format('lll z')
				section
					h2
						i.fa.fa-history
						= t('headers.pastincidents')
					.box.no-content
						| No recent past incidents
			.col
				section
					h2
						i.fa.fa-globe
						= t('headers.regions')
					.box.no-content
						if pdata.regions
							ul.regions-list
								each region in pdata.regions
									li
										span
											i.fa.fa-globe
											a(href='/region/' + region._id)= region.name
										span= t('dashboard.incidentCount', { count: region.incidents })
				section
					h2
						i.fa.fa-line-chart
						= t('headers.uptime')
					.box.no-content
						| Coming soon