extends ../layout

block head
	script(type='text/javascript', src='/js/libs.client.js')
	script(type='text/javascript', src='/js/app.js')

block navright
	if pdata.componentGroups
		button
			span
				i.fa.fa-bell
				= t('actions.subscribe')

block header
	if pdata.componentGroups
		nav
			ul
				each compgroup in pdata.componentGroups
					li
						span= compgroup.shortName
						+stateicon(compgroup.state)
	else
		nav
			ul
				li No components have been setup yet.

block content
	.dashboard
		.grid-3_lg-2_sm-1
			.col
				section
					h2
						i.fa.fa-check-circle 
						= t('headers.overview')
					if pdata.componentGroups
						.box
							ul.status-list
								each compgroup in pdata.componentGroups
									li
										h3(class='status-' + compgroup.state)
											span= compgroup.name
											+stateicon(compgroup.state)
										ul.components-list
											each comp in compgroup.components
												li
													span
														strong= comp.name
														span= comp.description
													span(class='status-' + comp.state)
														strong= t('states.' + comp.state)
														+stateicon(comp.state)
					else
						.box.no-content No components have been setup yet.
			.col
				section
					h2
						i.fa.fa-bullhorn
						= t('headers.incidents')
					if pdata.incidents.active
						.box
							ul.incidents-list
								each inc in pdata.incidents.active
									li
										h3(class='status-' + inc.state)
											span= inc.summary
											+stateicon(inc.state)
										ul.incident-properties
											li
												- var comp = pdata.components[inc.component]
												strong Component:
												span= comp.name + ' - ' + comp.group.name
											li
												strong Severity:
												span= t('states.' + inc.state)
											li
												strong Affected Regions:
												span
													each reg, idx in inc.regions
														if idx > 0 && idx < inc.regions.length - 1
															| , 
														else if idx > 0 && idx >= inc.regions.length - 1
															= ' ' + t('dashboard.affectedRegionsAnd') + ' '
														a(href='/region/' + reg._id)= reg.name

										ul.updates-list
											each upd in inc.updates
												li
													strong= t('updateStates.' + upd.status)
													span= upd.content
													em= moment.tz(upd.postedDate, 'UTC').format('lll z')
					else
						.box.no-content No active incidents.
				section
					h2
						i.fa.fa-history
						= t('headers.pastincidents')
					if pdata.incidents.recent
						.box
							ul.incidents-list
								each inc in pdata.incidents.recent
									li
										h3(class='status-' + inc.state)
											span= inc.summary
											+stateicon(inc.state)
										ul.incident-properties
											li
												- var comp = pdata.components[inc.component]
												strong Component:
												span= comp.name + ' - ' + comp.group.name
											li
												strong Severity:
												span= t('states.' + inc.state)
											li
												strong Affected Regions:
												span
													each reg, idx in inc.regions
														if idx > 0 && idx < inc.regions.length - 1
															| , 
														else if idx > 0 && idx >= inc.regions.length - 1
															= ' ' + t('dashboard.affectedRegionsAnd') + ' '
														a(href='/region/' + reg._id)= reg.name

										ul.updates-list.past
											each upd in inc.updates
												li
													strong= t('updateStates.' + upd.status)
													span= upd.content
													em= moment.tz(upd.postedDate, 'UTC').format('lll z')
										.updates-list-more
											i.fa.fa-chevron-down
											i.fa.fa-chevron-up
					else
						.box.no-content
							| No recent past incidents.
			.col
				section
					h2
						i.fa.fa-globe
						= t('headers.regions')
					if pdata.regions
						.box
							ul.regions-list
								each region in pdata.regions
									li
										span
											i.fa.fa-globe
											a(href='/region/' + region._id)= region.name
										span= t('dashboard.incidentCount', { count: region.incidents })
					else
						.box.no-content No regions have been setup yet.
				section
					h2
						i.fa.fa-line-chart
						= t('headers.uptime')
					.box.no-content No metrics have been setup yet.