extends ../layout

block head
	script(type='text/javascript', src='/js/libs.client.js')
	script(type='text/javascript', src='/js/app.js')

block navright
	if pdata.componentGroups
		button
			span
				i.fa.fa-bell
				= t('actions.subscribe')

block header
	if pdata.regions
		nav
			ul
				each region in pdata.regions
					- var isRegionActive = (region.name === 'Canada');
					li(class={active: isRegionActive})
						span= region.name
	else
		nav
			ul
				li No regions have been setup yet.

block content
	.dashboard
		.grid-2_lg-2_sm-1
			.col
				section
					h2
						i.fa.fa-check-circle
						= t('headers.overview')
					if pdata.componentGroups
						.box
							ul.status-list
								each compgroup in pdata.componentGroups
									li
										h3(class='status-' + compgroup.state)
											span= compgroup.name
											+stateicon(compgroup.state)
										ul.components-list
											each comp in compgroup.components
												li
													span
														strong= comp.name
														span= comp.description
													span(class='status-' + comp.state)
														strong= t('states.' + comp.state)
														+stateicon(comp.state)
					else
						.box.no-content No components have been setup yet.
				section
					h2
						i.fa.fa-line-chart
						= t('headers.uptime')
					.box.no-content No metrics have been setup yet.
			.col.alt
				section
					h2
						i.fa.fa-bullhorn
						= t('headers.incidents')
					if pdata.incidents && pdata.incidents.active.length > 0
						+incidentItem(pdata.incidents.active)
					else
						.box.no-content No active incidents.
				section
					h2
						i.fa.fa-clock-o
						= t('headers.scheduledmaintenance')
					if pdata.incidents && pdata.incidents.scheduled.length > 0
						+incidentItem(pdata.incidents.scheduled)
					else
						.box.no-content
							| No maintenance is planned for now.
				section
					h2
						i.fa.fa-history
						= t('headers.pastincidents')
					if pdata.incidents && pdata.incidents.recent.length > 0
						+incidentItem(pdata.incidents.recent)
					else
						.box.no-content
							| No recent past incidents.
