
//- Dropdown Form Field

mixin dropdown(name, modelBinding, defaultval)
	.dropdown
		input(name=name, v-model=modelBinding, type='hidden', value=defaultval)&attributes(attributes.extra)
		div
			span= attributes.placeholder
			i.fa.fa-chevron-down
		ul
			block

mixin dropdownitem(label, value, icon, iconcolor, description)
	li(data-value=value, data-label=label)
		if icon
			i(class='fa fa-' + icon + ' color-' + iconcolor)
		= label
		if description
			span= description

mixin stateicon(id)
	case id
		when "ok"
			i.fa.fa-check.status-ok
		when "scheduled"
			i.fa.fa-clock-o.status-scheduled
		when "perfissues"
			i.fa.fa-minus-square.status-perfissues
		when "partialdown"
			i.fa.fa-exclamation-triangle.status-partialdown
		when "majordown"
			i.fa.fa-circle.status-majordown