
//- Dropdown Form Field

mixin dropdown(name, modelBinding, defaultval)
	.dropdown
		input(name=name, v-model=modelBinding, type='hidden', value=defaultval)
		div
			span= attributes.placeholder
			i.fa.fa-chevron-down
		ul
			block

mixin dropdownitem(label, value, icon, iconcolor, description)
	li(data-value=value, data-label=label)
		if icon
			i(class='fa fa-' + icon + ' color-' + iconcolor)
		= label
		if description
			span= description